* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  user-select: none;
}
.con {
	position: fixed;
	left: 0;
	height: 0;
	width: 100vw;
	height: 100vh;

	font-family: sans-serif;
	font-size: 4rem;
	color: white;
	text-align: center;
	line-height: 100vh;
}
.blue {
  line-height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blue div {
	width: 100vw;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.best {
	position: fixed;
	top: 5px;
	left: 10px;
	font-size: 24px;
	line-height: normal;
}
.red {
  background: linear-gradient(#F00000, #DC281E);
}
.green {
  background: linear-gradient(#66ff00, #56ab2f)
}
.blue {
  background: linear-gradient(#00B4DB, #0083B0);
}

.active {
  z-index: 1;
}
